body{
    margin: 0;
    padding: 0;
    background: #000;
}
p{
    font-size: 10px;
    line-height: 7px;
    text-align: justify;
    background: url('3.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}